<!DOCTYPE html>
<html lang='en' class=''>

<head>
    <meta charset='UTF-8'>
    <title>SATURN DB</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <div id="wapper">
        <form role="search" id="form">
            <input type="search" id="query" name="textarea" placeholder="Search..." aria-label="Search through sysvars">
            <button class="btn"><i class="fa fa-search"></i></button>
        </form>
    </div>

</body>

</html>
